.bubbleContainer {
  background-color: var(--background);
  border-radius: 6px; /* 将 0.375rem 替换为 6px */
  position: fixed;
  display: flex;
  align-items: center;
  padding: 4px;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1); /* shadow-md */
  gap: 4px; /* 将 0.25rem 替换为 4px */
}
